<style>
.container{
  display: flex;
}
.col {
  flex: 1;
}

.slides {
    font-size: 0.75em;
}
.reveal ul {
    display: block;
}
.reveal ol {
    display: block;
}

img {
    max-height: 350px !important;
}

figcaption {
    font-size: 0.6em !important;
    font-style: italic !important;
}

.subtitle {
    font-style: italic !important;
}

.date {
    font-size: 0.75em !important;
}


body {
    font-family: "Arial", "sans-serif"
}

section {
    margin: 0;
}

.reveal .slides {
    margin: 0 1vmin;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4 {
    font-family: "Arial", "sans-serif";
    text-transform: Uppercase;
    color: #023d6b;
}

.reveal h1 {
    color: #023d6b;
}


.reveal h2 + h3 {
    text-transform: Unset;
    font-size: 80%;
}

.controls {
    visibility: hidden;
}

.reveal .progress {
    position: absolute;
    bottom: 1px;
}

.prompt {
    min-width: 0;
    width: 0;
    visibility: hidden;
}

div.dateauthor {
    padding-top: 4em;
    color: white;
}

div.prompt {
    width:0;
}

div#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
font-size: 0.5em; font-weight: bold; padding: 0 1vmin; height: 20vmin; background: #fff}
#footer h1 {
    position: absolute; 
    bottom: 3.2vmin; 
    display: block; 
    padding: 0 1em; 
    font-size: 1.7vmin;
    font-weight: bold;
    text-transform: unset;
    color: #023d6b;
}
#footer h2 {display: block; padding: 0.em 1em 0;}

img.fzjlogo {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 24vmin; /* The height of the svg is about 3 times the height of the logo */
    margin-bottom: -3vmin; /* Baseline of logo should be about 5% of short side above edge. */
}

.rendered_html img, svg {
    max-height: 440px;
}

</style>